table {
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  padding: 5px;
  border: 1px solid lightgray;
}

th {
  padding: 10px;
  border: 1px solid black;
}

h1 {
  color: #FCA205;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}